---
- hosts: all
  gather_facts: false
  connection: local
  collections:
    - ansible.netcommon
    - arista.eos

  tasks:

    - name: Delete Telegraf RPM if existing
      arista.eos.eos_command:
        commands: 
        - bash sudo su 
        - rm -f /mnt/flash/telegraf.rpm
      ignore_errors: yes

    - name: Delete telegraf.con if existing
      arista.eos.eos_command:
        commands: 
        - bash sudo su 
        - rm -f /mnt/flash/telegraf.conf
      ignore_errors: yes

    - name: Push RPM Telegraph Package on Arista
      vars:
        ansible_connection: ansible.netcommon.network_cli
      ansible.netcommon.net_put:
        src: ./telegraf.rpm
        dest: /mnt/flash
        protocol: scp

    - name: Push Telegraf Install Script
      ansible.netcommon.net_put:
        src: ./installtelegraf.sh
        dest: /mnt/flash
        protocol: scp

    - name: Push Telegraf Configuration File
      ansible.netcommon.net_put:
        src: ./telegraf.conf
        dest: /mnt/flash
        protocol: scp

    - name: Install Telegraf RPM
      arista.eos.eos_command:
        commands: 
        - bash sudo su 
        - /mnt/flash/installtelegraf.sh

    - name: Add Telegraf Start at Reboot Event
      arista.eos.eos_command:
        commands: 
        - event-handler telegraf 
        - trigger on-boot   
        - action bash /mnt/flash/./installtelegraf.sh
      
