# Global tags can be specified here in key="value" format.
[global_tags]
  device_role = "router"
  # dc = "us-east-1" # will tag all metrics with dc=us-east-1
  # rack = "1a"
  ## Environment variables can be used as tags, and throughout the config file
  # user = "$USER"

[agent]
  hostname = "{{ inventory_hostname }}"
  ## Default data collection interval for all inputs
  interval = "2s"
  ## Rounds collection interval to 'interval'
  ## ie, if interval="10s" then always collect on :00, :10, :20, etc.
  #round_interval = true

  ## Telegraf will send metrics to outputs in batches of at most
  ## metric_batch_size metrics.
  ## This controls the size of writes that Telegraf sends to output plugins.
  #metric_batch_size = 1000

  ## Maximum number of unwritten metrics per output.  Increasing this value
  ## allows for longer periods of output downtime without dropping metrics at the
  ## cost of higher maximum memory usage.
  #metric_buffer_limit = 10000

# Gather metrics about network interfaces (no gnmi local agent)
#[[inputs.net]]

[[inputs.gnmi]]
  ## Address and port of the GNMI GRPC server
  addresses = ["127.0.0.1:6030"]

  ## credentials
  username = "{{ hostvars['dummy'].user }}"
  password = "{{  hostvars['dummy'].pwd  }}"

  ## redial in case of failures after
  redial = "10s"

  [[inputs.gnmi.subscription]]
    name = "interface"
    subscription_mode = "sample"
    path = "/interfaces/interface/state/counters"
    sample_interval = "2s"

  [[inputs.gnmi.subscription]]
    name = "interface"
    subscription_mode = "sample"
    path = "/components/component/cpu"
    sample_interval = "2s"

  [[inputs.gnmi.subscription]]
    name = "interface"
    subscription_mode = "sample"
    path = "/components/component/state/memory"
    sample_interval = "2s"


[[outputs.influxdb_v2]]
  urls = ["http://10.0.137.51:8086"]
  token = "{{ lookup('env','INFLUXDB_TOKEN') }}"
  organization = "PNETLAB"
  bucket = "LAB"

# [[outputs.file]]
#   files = ["stdout"]

[[processors.rename]]
  [[processors.rename.replace]]
    tag="host"
    dest="device"